<section class="row">
  <article class="column">
    <h2>Examples</h2>
    <ul>
      <li>
        <a href="<%= Routes.upload_path(@conn, :new) %>">Detect Objects in an Uploaded Image</a>
      </li>
      <li>
        <a href="<%= Routes.webcam_path(@conn, :index) %>">Real-time Webcam Object Detection</a>
      </li>
    </ul>
  </article>
</section>
